body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: black;
}

body, a {
	color: white;
}

.slogan {
	font-size: 10vw;
}

a {
	display: inline-block;
	margin-right: 3em;
}

a:last-child {
	margin-right: 0;
}

a img {
	height: 1.5em;
	margin-bottom: -0.4em;
}
