{
  presets: [
  	 [ '@babel/preset-env', {
	 	loose: true,
		modules: 'commonjs',
	 }],
    [ '@babel/preset-react', {
	 	pragma: 'dom',
		pragmaFrag: 'fragment',
		throwIfNamespace: false
    }],
  ]
}
