[submodule "packages/theknarf-experiments"]
	path = packages/theknarf-experiments
	url = git@github.com:theknarf-experiments/theknarf-experiments.github.io.git
	branch = dev
[submodule "packages/theknarf-talks"]
	path = packages/theknarf-talks
	url = git@github.com:theknarf-talks/theknarf-talks.github.io.git
[submodule "packages/beerjs"]
	path = packages/beerjs
	url = git@github.com:TheKnarf/beerjs.github.io.git
	branch = dev
[submodule "packages/freesoftwa.re"]
	path = packages/freesoftwa.re
	url = git@github.com:TheKnarf/freesoftwa.re.git
	branch = master
