<div class="center-vertical">
	<div class="profile">
		<div class="profile-img">
			<img src="/img/profile.png" alt="" />
		</div>
		<div class="info">
			<span class="name"> Frank Lyder Bredland </span>
			<span class="title"> Freelancer, Fullstack </span>
			<a class="github fa fa-github" href="https://github.com/TheKnarf"> Github </a>
			<a class="linkedin fa fa-linkedin" href="https://no.linkedin.com/in/bredland"> Linkedin </a>
		</div>
		<!--
		<div>
			<span> Links </span>
			<div>
			{% for my_page in site.pages %}
	          {% if my_page.title %}
	          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
	          {% endif %}
	        {% endfor %}
	        </div>
		</div>
		-->
	</div>
</div>