---
---
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>TheKnarf</title>
		<meta name="description" content="TheKnarf.com"/>

		{/* Stylesheets */}
		<link rel="stylesheet" href="main.css" />
		
		{/* RSS */}
	</head>
  <body>
		<span class="slogan">[this page is left intentionally blank]</span>
		<div>
			<a href="https://github.com/TheKnarf">
				<img src="github.svg" alt="github logo" />
				<span>Github</span>
			</a>
			<a href='/experiments'>Experiments</a>
			<a href='/talks'>Talks</a>
		</div>
  </body>
</html>
<style>
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: black;
}

body, a {
	color: white;
}

.slogan {
	font-size: 10vw;
}

a {
	display: inline-block;
	margin-right: 3em;
}

a:last-child {
	margin-right: 0;
}

a img {
	height: 1.5em;
	margin-bottom: -0.4em;
}
</style>
