html {
	font-size: 20px;
}

header, footer, .home, .blogOverview {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.posts > div > span {
	display: inline-block;
	min-width: 100px;
}

.post {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	img {
		max-width: 100%;
	}

	figure {
		margin: 0;
	}

	pre {
		overflow-x: auto;
		padding: 1rem 0;
	}
	
	pre [data-line] {
		padding: 0 1rem;
	}

  table {
    border-spacing: 0;

    thead {
      background: lightgrey;
      text-align: left;
    }

    th, td {
      padding: 0.4rem 1.1rem;
    }

    tr:nth-of-type(even) {
      background: #efefef;
    }
  }
}
