.body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.posts > div > span {
	display: inline-block;
	min-width: 100px;
}

.outlet {
	font-size: 1.1rem;

	img {
		max-width: 100%;
	}

	figure {
		margin: 0;
	}

	pre {
		overflow-x: auto;
		padding: 1rem 0;
	}
	
	pre [data-line] {
		padding: 0 1rem;
	}
}
